@import '../variables.less';

.LandingPage {
  background: white;
  &-container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: @max-content-width;
  }
  &-title {
    font-size: 40px;
    font-family: Md_Gothic, fantasy;
  }
}
