/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

.Navigation {
  a {
    text-decoration: none;
  }

  &-link {
    display: inline-block;
    padding: 3px 8px 1px;
    text-decoration: none;
    font-size: 1.125em; // ~18px
    color: white !important;

    &,
    &:active,
    &:visited {
      color: rgba(255, 255, 255, .6);
    }

    &--highlight {
      margin-right: 8px;
      margin-left: 8px;
      border-radius: 3px;
      background: rgba(0, 0, 0, .15);
      color: #fff;

      &:hover {
        background: rgba(0, 0, 0, .3);
        text-decoration: none;
      }
    }
  }

  &-spacer {
    color: rgba(255, 255, 255, .3);
  }
}
