/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

@brand-color: #428bca;
@brand-color-hover: lighten(@brand-color, 20%);

.Header {
  background: rgb(39, 88, 148);
  color: #fff;
  position: relative;

  &-container {
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5px;
    max-width: 100%;

    a {
      text-decoration: none;
    }
  }

  &-brand {
    //color: darken(@brand-color, 10%);
    //color: @white-base;
    text-decoration: none;
    &:hover {
      color: @brand-color-hover;
    }
  }

  &-brandImg {
    vertical-align: middle;
    height: 5em;
    width: 4.7em;
    margin: 0.65em 0 1em;
  }

  &-brandTxt {
    margin-left: 10px;
    font-size: 2em;
    color: white !important;
    @font-face {
      font-family: 'Md_Gothic';
      src: url(../../public/fonts/Md_Gothic11_0.ttf) format('truetype');
    }
    font-family: Md_Gothic, fantasy;
  }

  &-nav {
    float: right;
    margin-top: 6px;
    position: absolute;
    bottom: 1px;
    right: 3%;
  }

  &-banner {
    text-align: center;
  }

  &-bannerTitle {
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
  }

  &-bannerDesc {
    padding: 0;
    color: rgba(255, 255, 255, .5);
    font-size: 1.25em;
    margin: 0;
  }
}
