/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.Footer {
  background: rgb(39, 88, 148);
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-width: 1px;
  right: 0;
  left: 0;
  height: 4.15em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #080808;

  &-container {
    padding-left: 3%;
    padding-right: 11em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &-text {
    color: rgba(255, 255, 255, 1.0);

    &--muted {
      color: rgba(255, 255, 255, .3);
    }
  }

  &-spacer {
    color: rgba(255, 255, 255, .3);
  }

  &-img {
    &-left {
      position: absolute;
      bottom: 7%;
      height: 3.4em;
      left: 6%;
    }
    &-right {
      position: absolute;
      bottom: 7%;
      height: 3.4em;
      right: 6%;
    }
  }

  &-text,
  &-link {
    padding: 2px 5px;
    font-size: 1.12em;
  }

  &-link {
    &,
    &:active,
    &:visited {
      color: rgba(255, 255, 255, .8);
      text-decoration: none;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
